
.definition {
display: flex;
}

.desc {
    position: relative;
    font-size: 3rem;
    text-align: center;
}

.quotes {
    font-size: 5rem;
}

.leftQuotes {
    transform: translateY(10%);
}

.rightQuotes {
    position: absolute;
    top: 100%;
    transform: translateY(-70%);
    right: 100;
}
