
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #040404;
    color: white;
    padding: 2rem;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

.namePrueba {
    font-size: 4rem;
    margin-left: 4rem;
}